.TodoStatus__button {
  color: rgb(119, 119, 119);
  font-family: inherit;
  font-weight: 400;
  padding: 4px 8px;
  margin: 3px;
  border: 1px solid transparent;
  background: rgba(0, 0, 0, 0.003);
  border-radius: 4px;
  text-decoration: none;
}

.TodoStatus__button:hover {
  border-color: rgba(200, 112, 112, 0.2);
}

.TodoStatus__button.Active {
  border-color: rgba(175, 47, 47, 0.2);
}
