.TodoStatus__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.TodoStatus__button {
  color: inherit;
  padding: 4px 8px;
  margin: 3px;
  border: 1px solid transparent;
  background: rgba(0, 0, 0, 0.003);
  border-radius: 4px;
  text-decoration: none;
}

.TodoStatus__button:hover {
  border-color: rgba(200, 112, 112, 0.2);
}

.TodoStatus__button.Active {
  border-color: rgba(175, 47, 47, 0.2);
}

.TodoStatus__button--isCounted {
  margin-left: 10px;
  width: 130px;
}

.TodoStatus__button--isCleared {
  width: 140px;
}

.TodoStatus__buttons--isDisplayed {
  display: flex;
  flex-direction: row;
  align-items: center;
}
