.Nav__section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.Footer {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.Footer__counter {
  margin-left: 10px;
  width: 130px;
}

.Footer__filter {
  color: inherit;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 6px;
  border-color: transparent;
  box-sizing: border-box;
}

.Footer__filter:hover {
  border-color: red;
}

.Footer__filterActive {
  color: inherit;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 6px;
  border-color: red;
  box-sizing: border-box;
}

.Footer__filter__Active:hover {
  border-color: red;
}

.Footer__clear {
  width: 140px;
}

.Todos__conditions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
