.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #fff;
}

.Header__title {
  font-size: 42px;
  font-weight: bold;
  color: #4d4d4d;
}
