.App__section {
  width: 600px;
  height: auto;
  border: 1.5px solid gray;
  box-shadow: 0px 4px 4px rgba(36, 29, 29, 0.25);

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
  position: relative;
}
.App__section::before {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  height: 3px;
  background: rgba(70, 59, 59, 0.25);
  border-radius: 3px;
}
.App__section::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 3px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.todo__Section {
  width: 600px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.Todo__checkbox {
  width: 30px;
  height: 30px;
  background: none;
  padding: none;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Todo__checkIcon {
  width: 20px;
  height: 20px;
  margin: none;
}

.Todo__value {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.TodoList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.TodoList__item {
  display: flex;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
}

.TodoList__item:last-child {
  border-bottom: none;
}

.Todo__Item {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.Todo__span {
  margin-left: 10px;
}
