.TodoItem__box {
  width: 600px;
  height: auto;
  border: 0.3px solid transparent;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
  position: relative;
}

.TodoItem__box-section {
  width: 600px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.TodoItem__checkbox {
  width: 29px;
  height: 29px;
  margin: 0 10px;
  background: none;
  padding: 0.5px;
  border: 1px solid rgb(200, 194, 194);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
}

.TodoItem__icon--checked {
  width: 20px;
  height: 20px;
  margin: unset;
}

.TodoItem__box-value {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
}

.TodoItem__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.TodoItem__list-items {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 24px;
}

.TodoItem__list-items:hover .TodoItem__button-deleting {
  display: inline-block;
}

.TodoItem__list-items:last-child {
  border-bottom: none;
}

.TodoItem__item {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 50px;
  height: 60px;
  border-bottom: 1px solid #ededed;
}

.TodoItem__item--editing {
  grid-template-columns: 1fr !important;
}

.TodoItem__input--editing {
  width: 97.5%;
  height: 82%;
  font-size: 24px;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgb(0 0 0 / 20%);
  font-weight: inherit;
  font-family: inherit;
}

.TodoItem__button-deleting {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 40px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
  border: none;
  background-color: transparent;
  padding: 0;
}
.TodoItem__button-deleting::before,
.TodoItem__button-deleting::after {
  content: '';
  position: absolute;
  height: 20px;
  width: 1px;
  background-color: currentColor;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.TodoItem__button-deleting::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.TodoItem__button-deleting:hover::before,
.TodoItem__button-deleting:hover::after {
  background-color: #bd4141;
}
